@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');



.menu_hamburguer {
    width: 10em;
    height: 3em;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-top: 2.5em;
    margin-left: 50%;
}

.navegacao__lista {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista__botao {
    display: none;
}

.lista__botao:checked~ .navegacao__lista {
    display: block;
}

.cabecalho {
    position: relative;
    justify-content: center;
}


.logo {
    max-width: 50%;
    height: 50%;
    padding: 1.9em 0.5em 0em 1.5em;
}

.lista__paginas {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin: 1% 0% 0% 2.5%;
}

.navegacao__abas {
list-style-type: none;
text-decoration: none;
color: rgb(190, 148, 148);
padding: 3em;
background-color: white;
}

.navegacao__abas a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 0,81em;
    text-transform: uppercase;
}

.banner {
    width: 100%;
    height: 20em;
    background-image: url(../assets/fundo1.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    text-align: center;
}

.banner__agricultura {
    background-image: url(../assets/plantacao.jpg);
}

.banner__ia-generativa {
    background-image: url(../assets/ia.png);
}

.banner__cultivo {
    background-image: url(../assets/fazendas\ verticais.jpg);
}

.titulo {
    margin-left: auto;
    margin-right: auto; 
    padding-top: 4em;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2.18em;
}

.titulo__agricultura {
    padding-top: 3.5em;
}

.titulo__ia-generativa {
    padding-top: 3em;
    width: 80%;
}

.sobre {
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.subtitulo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
}

.paragrafo {
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.botao__home {
    background-color: #089b28;
    border-radius: 5px;
    width: 50%;
    padding: 1em;
    text-decoration: none;
    color: rgb(40, 163, 15);
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom:  1em;
    margin-left: 5em;
}

.conteudo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.subtitulo__conteudo {
    padding-top: 1 em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.87em;
    width: 80%;
    padding-left: 1.2em;

}

.imagem  {
    width: 100%;
    padding: 1em 0 2em 0;
}

.imagem__solucao {
    width: 60%;
    padding: 2em 0 2em 5em;
}

.negrito {
    font-weight: bold;
}

.exemplos {
    font-family: 'Montserrat', sans-serif;
    padding: 1em;
    text-decoration: dashed
}

.rodape {
    background-color: #036F3E;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.image-container {
    display: flex;
    justify-content: space-around;
  }
  
  .image-container a {
    display: flex;
    flex-direction: column; /* Stack the image and name vertically */
    align-items: center; /* Center align items horizontally */
    text-align: center; /* Center align the text within the container */
    margin: 10px; /* Adjust the margin for spacing */
    text-decoration: none; /* Remove underlines from the links */
  }
  
  .image-container .circle {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%;
    overflow: hidden;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
  }
  
  .image-container span {
    margin-top: 5px; /* Adjust the spacing between the image and name */
    font-weight: bold; /* Apply bold styling to the names */
    color: black; /* Set the text color to black */
    font-family: "Arial", sans-serif; /* Change the font family here */
  }
  
  
.titulo__rodape {
    font-weight: bold;
    padding: 0.5em;
}


@media screen and (min-width: 768px) {
    .menu_hamburguer {
    margin-top: 3.2em;
    background-size: 6em;
    }

    .navegacao__abas a{
        font-size: 1.5em;
    }

    .logo {
        padding: 2.5em 0.5em 2em 2em;
    }

    .titulo {
        padding-top: 3em;
        font-size: 3em;
    }

    .subtitulo {
        padding-top: 1em;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 3em;
    }

    .paragrafo {
        font-size: 2em;
    }

    .botao__home {
        border-radius: 10px;
        width: 50%;
        padding: 1em;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom:  1em;
        margin-left: 7.4em;
    }

    .subtitulo__conteudo {
        padding-left: 1.8em;
    }

    .titulo__rodape {
        font-size: 2em;
    }

    .integrantes {
        font-size: 2em;
    }

    .imagem__solucao {
        width: 60%;
        padding: 2em 0 2em 10.5em;
    }

    .subtitulo__conteudo {
        font-size: 3em;
    }

    .exemplos {
        font-size: 2em;
    }

    .subtitulo__contato {
        padding: 2em 0 1em 4em;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1em;
        font-size: 1.5em;
    }

    .botao__formulario {
        padding: 1em 0em;
        font-size: 1em;
    }

    .campo__formulario {
        height: 2em;
        width: 50em;
        padding-left: 3em;
    }

    .texto__agradecimento {
        padding-top: 14em;
        padding-bottom: 8em;
    }

    .botao__agradecimento {
        margin-bottom: 14em;
    }

}

@media screen and (min-width: 1280px) {
    .menu_hamburguer {
       display: none;
    }

    .cabecalho {
        display: flex;
        flex-flow: column;
    }

    #id__logo{order:1;}

    #lista__header{order:2;}

    .navegacao__lista {
        display: flex;
        position: relative;
        padding: 3em 0em 3em 6em;
        align-items: center;
    }

    .navegacao__abas {
        padding: 0.5em;
    }

    .abas__ajustadas {
        margin-right: 3.5em;
    }

    .navegacao__abas a{
        font-size: 1.5em;
    }

    .navegacao__abas a:hover{
        color: #19bd22;
    }

    .logo {
        max-width: 20%;
        height: 50%;
        padding: 1.9em 0em 1.9em 1.5em;
    }

    .banner {
        width: 100%;
        height: 40vw;
    }

    .titulo {
        padding-top: 4em;
        font-size: 6em;
    }

    .subtitulo {
        padding-top: 2em;
        padding-bottom: 1em;
    }

    .botao__home {
        width: 25%;
        margin-left: 38em;
    }

    .imagem {
        width: auto;
        height: 40vw;
    }

    .subtitulo__conteudo {
        margin-top: 1em;
        padding-left: 5.5em;
        padding-bottom: 1em;
    }

    .rodape {
        margin-top: 3em;
    }

    .imagem__solucao {
        width: 30%;
        padding: 2em 0 2em 55em;
    }

    .subtitulo__contato {
        padding: 2em 0 1em 21.9em;
    }

    .formulario {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em 1em;
        font-size: 1.5em;
        align-items: center;
    }

    .botao__formulario {
        padding: 1em;
        width: 25%;
        font-size: 1em;
        
    }

    .campo__formulario {
        height: 2em;
    }

}